@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --darkblue: #0e1424;
  --lightpurple: #975efa;
  --darkpurple: #551a8b;
  --lightgray: #cdcdcd;
  --lightblue: #1a2542;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--darkblue);
  font-family: "Montserrat", sans-serif;
  color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
hr {
  margin: 30px 0px;
  border-radius: 50%;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.details-container {
  position: relative;
  width: 70%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container {
  position: relative;
  width: 100%;

  padding-bottom: 56.25%;
  height: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container * {
  margin: 16px;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.logo-icon {
  height: 50px;
  width: 50px;
}

.logo-h1 {
  background-image: linear-gradient(45deg, #975efa, #cdcdcd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-radius: 5px;
}

.navbar {
  margin: 20px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.home-button {
  background: none;
  border: none;
  display: flex;
}

.home-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.home-button img {
  width: 40px;
}

.title {
  color: var(--darkpurple);
}

.description {
  text-align: center;
  max-width: 350px;
}

@media screen and (min-width: 992px) {
  .info-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .serie-info {
    display: flex;
    flex-direction: column;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .feedback .star-rating input {
    display: none;
  }

  .star-rating label {
    font-size: 34px;
    color: var(--lightgray);
    transition: all 0.3 ease;
  }

  input:not(:checked),
  input:not(:checked) ~ label:hover ~ label {
    color: rgba(35, 35, 35, 0.822);
    cursor: pointer;
  }
  input:checked ~ label {
    color: var(--lightpurple);
  }
}
